h1 {
	color: #8B1C62;
}

h2 {
	color: #FF7256;
}

h3 {
	color: #FFC125;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}

/* hexadecimal values/code = You're already extremely familiar with decimal values: it's everyday counting! You know when you see a number (e.g. 1,432) that each digit can only be the ten values 0 through 9. Because there are only ten possibilities, we say that regular counting is base-10.

Hexadecimal counting is base-16. Each digit can be the numbers 0 through 9 or the letters a through f!*/